# requisitos: instalacao dos pacotes abaixo
# pip install -r requirements.txt

# for windows ;o)
python-magic-bin ; sys_platform == 'win32'


asttokens
backcall
certifi
click
decorator
executing
Flask
Flask-Login
importlib-metadata
ipython
itsdangerous
jedi
Jinja2
libmagic
MarkupSafe
matplotlib-inline
mergedeep
mysql-connector-python
numpy
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pure-eval
Pygments
python-dateutil
python-magic
pytz
six
stack-data
traitlets
wcwidth
Werkzeug
zipp
